/Chat.py
/chatbot.png
/Chatbot.py
/Chatbot1.py
/Chatbot2.py
/chatbot_week_1.ipynb
/chat_log.csv
/dataset.json
/intents.json
/New folder
/refference.py
/res.jpg
/Restaurant.py
/restaurant_intent_entities.json